# Obtain this from the Setup Page after creating an account on https://wisp.blog/
NEXT_PUBLIC_BLOG_ID=719b7300-d046-47f0-8020-724ae5b26ee2
NEXT_PUBLIC_BLOG_DISPLAY_NAME=Diary Of SWE.
NEXT_PUBLIC_BLOG_COPYRIGHT=Barkamol
NEXT_DEFAULT_METADATA_DEFAULT_TITLE="About tech and life"
NEXT_PUBLIC_BLOG_DESCRIPTION="Notes/Blogs about tech problems I faced and how did I solve them"
NEXT_PUBLIC_BASE_URL="https://valiyev.uz"